= link_to 'Courses', courses_path
\/
= link_to @course.title, course_path(@course)

.row
  .col-md-6
    = render 'courses/course', course: @course
  .col-md-6
    - @lessons.each do |lesson|
      = render 'lessons/lesson', lesson: lesson
